@*
*@
@{
}
<nav>
    <div class="logo">
        <h1>Shoe<span>s</span></h1>
    </div>

    <ul>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Product</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Guarantee_Contact">Guarantee</a></li>
        <li><a href="#About">About</a></li>
        <li><a href="#Review">Review</a></li>
        <li><a href="#Servises">Servises</a></li>
    </ul>

    <div class="icons">
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-cart-shopping"></i>
        <i class="fa-solid fa-user" id="showLoginForm"></i>
    </div>

</nav>

